<div class="home">
  <div class="form-container text-white d-flex flex-column justify-content-center align-items-center">
    <div class="logo d-flex justify-content-center align-items-center">
      <img src="img/pizza.png" alt="">
      <h1>PIZZA DALMI</h1>
    </div>
    <h2>Registrarse</h2>
    <form action="/register" method="POST" class="w-25 m-auto">
      <div class="mb-3">
        <label for="first_name" class="form-label">Nombre</label>
        <input type="text" class="form-control" name="first_name" id="first_name">
      </div>
      <div class="mb-3">
        <label for="last_name" class="form-label">Apellido</label>
        <input type="text" class="form-control" name="last_name" id="last_name">
      </div>
      <div class="mb-3">
        <label for="age" class="form-label">Edad</label>
        <input type="number" class="form-control" name="age" id="age">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" name="email" id="email">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" id="password">
      </div>
      <div class="buttons">
        <button type="submit" class="btn btn-dark w-100 my-1">Registrar</button>
        <a class="btn btn-success w-100 my-1" href="/">Ya tengo una cuenta</a>
      </div>
    </form>
  </div>
</div>
