.bg-login {
  background-image: url('/img/bg-pizza.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
}

.form-container {
}